<div class="section-2">
    <div class="container">
        <div class="section-2__grid">
            <div class="section-2__grid_block">
                <div class="section-2__title">
                    Требуется доставка? <br>
                    Мы всегда к вашим услугам
                </div>
            </div>
            <ul class="section-2__grid_list">
                <li class="section-2__card">
                    <div class="section-2__card_title">Разумные тарифы</div>
                    <div class="section-2__card_icon">
                        <i class="fa fa-suitcase" aria-hidden="true"></i>
                    </div>
                </li>
                <li class="section-2__card">
                    <div class="section-2__card_title">7 лет доверия клиентов</div>
                    <div class="section-2__card_icon">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </li>
                <li class="section-2__card">
                    <div class="section-2__card_title">Подача автомобиля <br> в течении часа</div>
                    <div class="section-2__card_icon">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </div>
                </li>
                <li class="section-2__card">
                    <div class="section-2__card_title">Работаем 24/7</div>
                    <div class="section-2__card_icon">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    </div>
                </li>
                <li class="section-2__card">
                    <div class="section-2__card_title">Доставка от двери до двери</div>
                    <div class="section-2__card_icon">
                        <i class="fa fa-archive" aria-hidden="true"></i>
                    </div>
                </li>
                <li class="section-2__card">
                    <div class="section-2__card_title">Собственный автопарк</div>
                    <div class="section-2__card_icon">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </div>
                </li>
                <li class="section-2__card">
                    <div class="section-2__card_title">Страхование грузов</div>
                    <div class="section-2__card_icon">
                        <i class="fa fa-umbrella" aria-hidden="true"></i>
                    </div>
                </li>
                <li class="section-2__card">
                    <div class="section-2__card_title">Любые способы оплаты</div>
                    <div class="section-2__card_icon">
                        <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                    </div>
                </li>
            </ul>
            <!-- /.section-2__grid_list -->
        </div>
        <!-- /.section-2__grid -->
    </div>
    <!-- /.container -->
</div>
<!-- /.section-2 -->