<div class="header">
    <div class="container">
        <div class="header__block">
            <div class="header__logo">
                <img src="../../assets/img/logo.png" alt="Faizer">
            </div>
            <div class="header__info">
                <ul class="header__info_list">
                    <li class="header__info_list_item">
                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                        <a href="tel:+78432270772" class="header__info_list_item_link tel">+7 (843) 227 07 72</a>
                    </li>
                    <li class="header__info_list_item">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <a href="#" class="header__info_list_item_link mail">info@faizer.su</a>
                    </li>
                </ul>
                <!-- /.header__info_list -->
                <div class="header__info_btn">
                    <a href="#" class="btn btn-red btn-modal-call">заказать звонок</a>
                </div>
            </div>
        </div>
        <!-- /.header__block -->
    </div>
    <!-- /.container -->
</div>
<!-- /.header -->