<div class="section-5">
    <div class="container">

        <div class="section-5__grid">
            <div class="section-5__grid_left">
                <h2 class="h2">Схема работы</h2>
            </div>
            <div class="section-5__grid_right">
                <ul class="section-5__list">
                    <li class="section-5__list_item">
                        <div class="section-5__list_item_count">1</div>
                        <div class="section-5__list_item_img">
                            <img src="../../assets/img/section-5__img-1.png" alt="">
                        </div>
                        <div class="section-5__list_item_label">Заявка</div>
                    </li>
                    <li class="section-5__list_item">
                        <div class="section-5__list_item_count">2</div>
                        <div class="section-5__list_item_img">
                            <img src="../../assets/img/section-5__img-2.png" alt="">
                        </div>
                        <div class="section-5__list_item_label">Расчет</div>
                    </li>
                    <li class="section-5__list_item">
                        <div class="section-5__list_item_count">3</div>
                        <div class="section-5__list_item_img">
                            <img src="../../assets/img/section-5__img-3.png" alt="">
                        </div>
                        <div class="section-5__list_item_label">Оплата</div>
                    </li>
                    <li class="section-5__list_item">
                        <div class="section-5__list_item_count">4</div>
                        <div class="section-5__list_item_img">
                            <img src="../../assets/img/section-5__img-4.png" alt="">
                        </div>
                        <div class="section-5__list_item_label">Перевозка</div>
                    </li>
                </ul>
                <!-- /.section-5__list -->
            </div>
            <!-- /.section-5__grid_right -->
        </div>
        <!-- /.section-5__grid -->

    </div>
    <!-- /.container -->
</div>
<!-- /.section-5 -->