<div class="navigation">
    <div class="container">
        <nav class="navigation__list">
            <a href="#section-3" class="navigation__link js-anchor">Услуги</a>
            <a href="#section-4" class="navigation__link js-anchor">О нас</a>
            <a href="#section-5" class="navigation__link js-anchor">Схема работы</a>
            <a href="#section-7" class="navigation__link js-anchor">Контакты</a>
        </nav>
        <!-- /.navigation__list -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navigation -->