.section-7 {
  padding: 7.5em 0;
  background-color: rgba(16, 39, 95, 0.94);
  color: $white;
}

.section-7__grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 7em;
}

.section-7__info {
  font-weight: 100;
  font-size: 1.8em;
}

.section-7__info_address {
  margin-bottom: 1em;
}

.section-7__info_item {
  margin-bottom: 0.5em;
}

.section-7__info_item_link {
  color: $white;
  &:hover {
    color: $main;
  }
}

.section-7__form {
  margin-top: 4.5em;
}

.section-7__form_title {
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 19px;
}