<div class="section-7" id="section-7">
    <div class="container">

        <div class="section-7__grid">
            <div class="section-7__grid_left">

                <h2 class="h2">Контакты</h2>

                <ul class="section-7__info">
                    <li class="section-7__info_address">Казань, ул. Московская, д.31/6, оф. 309</li>
                    <li class="section-7__info_item">
                        <a href="tel:+78435260201" class="section-7__info_item_link">+7 (843) 526-02-01</a>
                    </li>
                    <li class="section-7__info_item">
                        <a href="tel:+79625485064" class="section-7__info_item_link">+7 (962) 548-50-64</a>
                    </li>
                    <li class="section-7__info_item">
                        <a href="tel:+79656031016" class="section-7__info_item_link">+7 (965) 603-10-16</a>
                    </li>
                </ul>
                <!-- /.section-7__info -->

                <div class="section-7__form">
                    <div class="form_title">
                        Оставьте свои данные <br>
                        и менеджер перезвонит Вам <br>
                        в ближайшее время
                    </div>
                    <form class="form" id="s7-form" method="POST" novalidate="novalidate">
                        <div class="form_group">
                            <label class="label" for="section-7-name">Ваше имя</label>
                            <input class="input" type="text" id="section-7-name" name="s7_input_name" required="">
                        </div>
                        <div class="form_group">
                            <label class="label" for="section-7-tel">Номер телефона</label>
                            <input class="input js-input-tel" type="tel" id="section-7-tel" name="s7_input_tel" required="">
                        </div>
                        <div class="form__btn">
                            <button class="btn btn-lg btn-red">Отправить <span></span></button>
                        </div>
                    </form>
                </div>
                <!-- /.section-7__info_form -->

            </div>
            <!-- /.section-section-7__grid_left -->
            <div class="section-7__grid_right">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.203857300339!2d49.106024216047444!3d55.789697996612944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ead19aeb5233b%3A0xce2dd3564d9b50b7!2z0JzQvtGB0LrQvtCy0YHQutCw0Y8g0YPQuy4sIDMxLzYsIDMwOSwg0JrQsNC30LDQvdGMLCDQoNC10YHQvy4g0KLQsNGC0LDRgNGB0YLQsNC9LCDQoNC-0YHRltGPLCA0MjAxMTE!5e0!3m2!1suk!2sua!4v1583943923543!5m2!1suk!2sua" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <!-- /.section-7__grid_right-7__grid -->
        </div>
        <!-- /.section-7__grid -->

    </div>
    <!-- /.container -->
</div>
<!-- /.section-7 -->