<div class=" modal modal-call">
    <div class="modal-call__form">
        <div class="modal-close">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div class="form_title">
            Заполните формы <br>
            и мы свяжемся с Вами <br>
            в течении 15 минут!
        </div>
        <form class="form" id="mc-form" method="POST" novalidate="novalidate">
            <div class="form_group">
                <label class="label" for="modal-call-name">Ваше имя</label>
                <input class="input" type="text" id="modal-call-name" name="mc_input_name" required="">
            </div>
            <div class="form_group">
                <label class="label" for="modal-call-tel">Номер телефона</label>
                <input class="input js-input-tel" type="tel" id="modal-call-tel" name="mc_input_tel" required="">
            </div>
            <div class="form__btn">
                <button class="btn btn-lg btn-red">Отправить <span></span></button>
            </div>
        </form>
    </div>
    <!-- /.modal-call__form -->
</div>
<!-- /.modal-call -->