<div class="section-6">
    <div class="container">

        <div class="section-6__grid">
            <div class="section-6__grid_left">
                <h2 class="h2">Партнеры</h2>
            </div>
            <div class="section-6__grid_right">
                <ul class="section-6__list">
                    <li class="section-6__list_item">
                        <img src="../../assets/img/section-6__img-1.jpg" alt="">
                    </li>
                    <li class="section-6__list_item">
                        <img src="../../assets/img/section-6__img-2.jpg" alt="">
                    </li>
                    <li class="section-6__list_item">
                        <img src="../../assets/img/section-6__img-3.jpg" alt="">
                    </li>
                    <li class="section-6__list_item">
                        <img src="../../assets/img/section-6__img-4.jpg" alt="">
                    </li>
                    <li class="section-6__list_item">
                        <img src="../../assets/img/section-6__img-5.jpg" alt="">
                    </li>
                </ul>
                <!-- /.section-6__list -->
            </div>
            <!-- /.section-6__grid_right -->
        </div>
        <!-- /.section-6__grid -->

    </div>
    <!-- /.container -->
</div>
<!-- /.section-6 -->