<div class="section-4" id="section-4">
    <div class="container">

        <h2 class="h2">О компании</h2>

        <div class="section-4__block">

            <p><span>Faizer</span> - транспортно-экспедиционная компания, которая ведет свою деятельность с 2013 года. Мы оказываем полный спектр услуг по доставке любых партий грузов, от одного килограмма.</p>

            <p>Благодаря подбору оптимальных схем и способов грузоперевозок, качественному сервису и индивидуальному подходу, «Faizer» предоставляет по-настоящему удобную, доступную и современную логистику каждому клиенту.</p>

            <div class="section-4__block_grid">
                <div class="section-4__block_grid_left">
                    <div class="section-4__block_grid_title">Сегодня «Faizer» это:</div>
                    <ul class="section-4__block_grid_list">
                        <li class="section-4__block_grid_list_item">— Более 7 лет работы</li>
                        <li class="section-4__block_grid_list_item">— Собственный автопарк</li>
                        <li class="section-4__block_grid_list_item">— Гарантия сохранности грузов</li>
                        <li class="section-4__block_grid_list_item">— Широкая география доставки</li>
                        <li class="section-4__block_grid_list_item">— Объективные цены</li>
                    </ul>
                </div>
                <div class="section-4__block_grid_right">
                    <div class="section-4__block_grid_title">Широкий спектр услуг:</div>
                    <ul class="section-4__block_grid_list">
                        <li class="section-4__block_grid_list_item">— Перевозка грузов от 1 кг по РФ;</li>
                        <li class="section-4__block_grid_list_item">— Международные перевозки;</li>
                        <li class="section-4__block_grid_list_item">— Забор и доставка груза по городу и области;</li>
                        <li class="section-4__block_grid_list_item">— Организация офисных и квартирных переездов;</li>
                        <li class="section-4__block_grid_list_item">— Страхование грузов;</li>
                        <li class="section-4__block_grid_list_item">— Ответственное хранение;</li>
                    </ul>
                </div>
            </div>
            <!-- /.section-4__block_grid -->

            <p>Мы готовы полностью избавить вас от рутины и забот, связанных с логистикой, взяв их на себя. Доверьте нам организацию грузоперевозок, и мы будем заниматься делом, которое знаем и любим, а у вас останется больше времени, сил и финансов для развития основных видов деятельности вашего бизнеса.</p>

        </div>
        <!-- /.section-4__block -->

    </div>
    <!-- /.container -->
</div>
<!-- /.section-4 -->