<div class="section-3" id="section-3">
    <div class="container">
        <h2 class="h2">Услуги</h2>
        <div class="section-3__grid">
            <ul class="section-3__list half">
                <li class="section-3__list_item">
                    <div class="section-3__list_item_title">Грузоперевозки по городу</div>
                    <div class="section-3__list_item_icon">
                        <img src="../../assets/img/icons/section-3__icon-1.png" alt="">
                    </div>
                </li>
                <li class="section-3__list_item">
                    <div class="section-3__list_item_title">Грузоперевозки от 0,5 до 20т</div>
                    <div class="section-3__list_item_icon">
                        <img src="../../assets/img/icons/section-3__icon-2.png" alt="">
                    </div>
                </li>
                <li class="section-3__list_item">
                    <div class="section-3__list_item_title">переезды</div>
                    <div class="section-3__list_item_icon">
                        <img src="../../assets/img/icons/section-3__icon-3.png" alt="">
                    </div>
                </li>
                <li class="section-3__list_item">
                    <div class="section-3__list_item_title">ответственное хранение</div>
                    <div class="section-3__list_item_icon">
                        <img src="../../assets/img/icons/section-3__icon-4.png" alt="">
                    </div>
                </li>
                <li class="section-3__list_item">
                    <div class="section-3__list_item_title">услуги грузчиков</div>
                    <div class="section-3__list_item_icon">
                        <img src="../../assets/img/icons/section-3__icon-5.png" alt="">
                    </div>
                </li>
                <li class="section-3__list_item">
                    <div class="section-3__list_item_title">Сборка, разборка, <br> упаковка мебели</div>
                    <div class="section-3__list_item_icon">
                        <img src="../../assets/img/icons/section-3__icon-6.png" alt="">
                    </div>
                </li>
                <li class="section-3__list_item">
                    <div class="section-3__list_item_title">вывоз мусора</div>
                    <div class="section-3__list_item_icon">
                        <img src="../../assets/img/icons/section-3__icon-7.png" alt="">
                    </div>
                </li>
            </ul>
            <!-- /.section-3__list -->
            <ul class="section-3__list">
                <li class="section-3__list_item">
                    <div class="section-3__list_item_title">Грузоперевозки по россии</div>
                    <div class="section-3__list_item_icon">
                        <img src="../../assets/img/icons/section-3__icon-8.png" alt="">
                    </div>
                </li>
                <li class="section-3__list_item">
                    <div class="section-3__list_item_title">Авто под полную загрузку</div>
                    <div class="section-3__list_item_icon">
                        <img src="../../assets/img/icons/section-3__icon-9.png" alt="">
                    </div>
                </li>
                <li class="section-3__list_item">
                    <div class="section-3__list_item_title">Доставка сборного груза <br> (догрузом)</div>
                    <div class="section-3__list_item_icon">
                        <img src="../../assets/img/icons/section-3__icon-10.png" alt="">
                    </div>
                </li>
                <li class="section-3__list_item">
                    <div class="section-3__list_item_title">Негабаритные перевозки</div>
                    <div class="section-3__list_item_icon">
                        <img src="../../assets/img/icons/section-3__icon-11.png" alt="">
                    </div>
                </li>
                <li class="section-3__list_item">
                    <div class="section-3__list_item_title">Перевозка опасных грузов</div>
                    <div class="section-3__list_item_icon">
                        <img src="../../assets/img/icons/section-3__icon-12.png" alt="">
                    </div>
                </li>
            </ul>
            <!-- /.section-3__list -->
            <ul class="section-3__list">
                <li class="section-3__list_item">
                    <div class="section-3__list_item_title">Международные перевозки</div>
                    <div class="section-3__list_item_icon">
                        <img src="../../assets/img/icons/section-3__icon-13.png" alt="">
                    </div>
                </li>
                <li class="section-3__list_item">
                    <div class="section-3__list_item_title">Доставка груза от 1кг в любую <br> точку земного шара</div>
                    <div class="section-3__list_item_icon">
                        <img src="../../assets/img/icons/section-3__icon-14.png" alt="">
                    </div>
                </li>
                <li class="section-3__list_item">
                    <div class="section-3__list_item_title">Таможенное оформление </div>
                    <div class="section-3__list_item_icon">
                        <img src="../../assets/img/icons/section-3__icon-15.png" alt="">
                    </div>
                </li>
                <li class="section-3__list_item">
                    <div class="section-3__list_item_title">ВЭД</div>
                    <div class="section-3__list_item_icon">
                        <img src="../../assets/img/icons/section-3__icon-16.png" alt="">
                    </div>
                </li>
            </ul>
            <!-- /.section-3__list -->
        </div>
        <!-- /.section-3__grid -->
    </div>
    <!-- /.container -->
</div>
<!-- /.section-3 -->