.form_group {
  position: relative;
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0;
  }
}
label {
  &.form__input_error,
  &.form__input_success {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    font-size: 12px;
  }
  &.form__input_error {
    color: red;
  }
  &.form__input_success {
    color: green;
  }
}
.label {
  font-size: 16px;
  color: $white;
}
.input {
  width: 100%;
  height: 60px;
  margin-top: 10px;
  padding: 0 1em;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  background-color: #304a87;
  font-size: 16px;
  color: $white;
  &:focus {
    outline: none;
  }
}
.form__btn {
  margin-top: 35px;
}

.form_title {
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 19px;
}


// Checkbox
.check__box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    margin-right: 15px;
    border-radius: 3px;
    border: 1px solid $gray;
    box-sizing: border-box;
    font-size: 2em;
    color: transparent;
    cursor: pointer;
  }
  .form__input_error + .check__box {
    border-color: $red;
  }
  .check__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    &:checked + .check__box {
        border-color: $main;
        color: $main;
    }
    &:checked + .form__input_error + .check__box {
      border-color: $red;
    }
  }