@media (max-width: 1200px) {

    // Header
    .header {
        padding: 2em 0 1em;
    }
    .header__info_list {
        display: none;
    }

    // Section 1
    .section-1 {
        padding: 13em 0 35em;
    }

    // Calculation
    .calculation__grid_top {
        grid-template-columns: minmax(0,1fr) minmax(0,1fr);
        .calculation__grid_item {
            &:first-child {
                grid-area: 1/1/1/3;
            }
        }
    }
    .calculation__route_dropdown {
        margin-right: 3em;
        &:last-child {
            margin-right: 0;
        }
    }
    .calculation__check_group {
        margin-right: 3em;
    }
    .calculation__grid_bot {
        grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    }

    // Section 2
    .section-2 {
        margin-top: -23em;
    }

    // Section 3
    .section-3__grid {
        grid-gap: 2em;
    }
    .section-3__list_item {
        padding: 2em;
    }
    .section-3__list_item_title {
        font-size: 1.4em;
    }

    // Section 4
    .section-4 {
        padding: 4em 0;
    }

    // Section 5
    .section-5 {
        padding-top: 0;
    }
    .section-5__grid {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    .section-5__list {
        padding-top: 3em;
        &:before {
            display: none;
        }
    }
    .section-5__list_item_count {
        &:before {
            display: none;
        }
    }

}


@media (min-width: 992px) {
    .section-3__list_item {
        display: block !important;
    }
}


@media (max-width: 992px) {

    // Customs
    .form_title {
        font-size: 16px;
    }
    .label {
        font-size: 14px;
    }
    .input {
        height: 45px;
        font-size: 14px;
    }

    // Section 2
    .section-2__grid {
        grid-template-columns: 1fr;
    }
    .section-2__grid_block {
        padding: 0;
        border: none;
        background: none;
    }

    // Section 3
    .section-3__grid {
        grid-template-columns: 1fr;
    }
    .section-3__list.half {
        .section-3__list_item {
            height: 8em;
            &:first-child {
                height: 8em;
            }
        }
    }
    .section-3__list_item {
        display: none;
        height: 8em;
        &.js-s3-list-item {
            display: block;
        }
    }

    // Section 4
    .section-4__block {
        margin: 0 -2em;
        padding: 4em 3em 4em;
        p {
            font-size: 1.4em;
        }
    }
    .section-4__block_grid {
        grid-gap: 4em;
    }
    .section-4__block_grid_left {
        padding-left: 4em;
    }
    .section-4__block_grid_title {
        font-size: 1.4em;
    }
    .section-4__block_grid_list_item {
        font-size: 1.4em;
    }

    // Section 6
    .section-6 {
        padding: 5em 0 4em;
    }
    .section-6__grid {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    // Section 7
    .section-7 {
        padding: 5em 0;
    }
    .section-7__grid {
        grid-template-columns: 1.4fr 2fr;
        grid-gap: 4em;
    }
    .section-7__info {
        font-size: 1.4em;
    }

}


@media (max-width: 767.98px) {

    // Customs {
    .container {
        padding: 0 10px;
    }
    .label {
        font-size: 12px;
    }
    .input {
        margin-top: 5px;
    }
    .btn {
        font-size: 1em;
    }
    .h2 {
        font-size: 3em;
    }
    
    // Header
    .header__logo {
        width: 12em;
    }

    // Navigation
    .navigation {
        display: none;
    }

    // Section 1
    .section-1 {
        position: relative;
        height: 30em;
        padding: 0;
    }
    .section-1__title {
        position: absolute;
        bottom: 1em;
        right: 1em;
        width: 100%;
        font-size: 2em;
    }

    // Calculation
    .calculation__form {
        transform: none;
        box-shadow: none;
        margin: 0 -1em;
        padding: 2em;
        border-radius: 0;
    }
    .calculation__title {
        margin-bottom: 1em;
    }
    .calculation__grid_top {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 2em;
        .calculation__grid_item {
            &:first-child {
                grid-area: auto;
            }
        }
    }
    .calculation__route {
        flex-wrap: wrap;
    }
    .calculation__route_dropdown {
        margin-right: 0;
        margin-bottom: 2em;
    }
    .calculation__check {
        flex-wrap: wrap;
    }
    .calculation__check_group {
        margin-right: 0;
        margin-bottom: 1em;
    }
    .calculation__grid_mid {
        grid-template-columns: 1fr;
    }
    .calculation__grid_bot {
        grid-template-columns: 1fr;
        grid-gap: 2em;
        margin-top: 4em;
    }

    // Section 2
    .section-2 {
        margin-top: 0;
        padding: 3em 0;
    }
    .section-2__title {
        font-size: 2em;
    }
    .section-2__grid_list {
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }
    .section-2__card {
        height: 8em;
        padding: 1em;
    }
    .section-2__card_title {
        font-size: 1.4em;
    }
    .section-2__card_icon {
        bottom: 1em;
        right: 1em;
        i {
            font-size: 2em;
        }
    }

    // Section 3
    .section-3 {
        padding: 3em 0;
    }
    .section-3__list_item {
        margin-bottom: 1em;
        padding: 1em;
    }
    .section-3__list_item_icon {
        bottom: 1em;
        right: 1em;
        max-width: 4em;
    }

    // Section 4
    .section-4 {
        padding: 3em 0 0;
    }
    .section-4__block {
        padding: 2em;
    }
    .section-4__block_grid {
        grid-template-columns: 1fr;
        padding: 2em 0 3em;
    }
    .section-4__block_grid_left {
        padding-left: 3em;
    }
    .section-4__block_grid_right {
        padding-left: 3em;
    }

    // Section 5

    // Section 6

    // Section 7

}

.section-5,
.section-6,
.section-7,
.footer,
{
    display: none;
}