.section-1 {
    padding: 13em 0 31em;
    background-image: url(../../assets/img/bg/section-1.jpg);
    background-position: center;
    background-size: cover;
}

.section-1__title {
    font-weight: bold;
    font-size: 3.6em;
    color: $white;
    text-align: right;
    text-transform: uppercase;
}

.section-1 {}